@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .print-hidden {
    display: none !important;
  }

  .print-header {
    display: block !important;
    
  }
  
  nav {
    display: none !important;
  }

  .print-footer {
    display: block !important;
    text-align: right;
  }

  .print-area {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
  }
}
